.tabs-container {
    background-color: #fcf2cc
}

.tab {
    margin-bottom: .25rem;
    cursor: pointer;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-color: rgba(71,31,60,.2);
    padding: .75rem 1rem
}

@media (min-width: 768px) {
    .tab {
        margin-bottom:0;
        justify-content: flex-end
    }
}

.tab:nth-last-child(2) {
    border: 0
}

.tab * {
    pointer-events: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700
}

.tabs-content {
    background-color: #fcf2cc
}

.tab-content-item.active {
    display: block
}

.tab.active {
    --tw-bg-opacity: 1;
    background-color: hsl(316 39% 33%/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.tab .icon {
    rotate: 0deg
}

.tab.active .icon {
    rotate: -90deg;
    fill: #fff
}

@media (min-width: 768px) {
    .tab .icon {
        fill:transparent;
        rotate: -90deg
    }

    .tab:not(.active):hover .icon {
        fill: #743363
    }
}

.tab:after {
    content: "➤";
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: none;
    color: rgba(117,51,99,.2)
}

.tab:hover:after {
    display: block
}

@media (width < 768px) {
    .tab.active+.tab-content-item-mobile {
        display: block
    }
}

.guarantee:after {
    pointer-events: none
}

.tab {
    margin-bottom: .25rem;
    cursor: pointer;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-color: rgba(71, 31, 60, .2);
    padding: .75rem 1rem;
}
.tab.active {
    --tw-bg-opacity: 1;
    background-color: hsl(316 39% 33% / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.tab:hover:after {
    display: block;
}
.tab:after {
    content: "➤";
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: none;
    color: rgba(117, 51, 99, .2);
}
.tab:hover:after {
    display: block;
}

.tab:after {
    content: "➤";
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: none;
    color: rgba(117, 51, 99, .2);
}

.guarantee:after {
    pointer-events: none;
}

.guarantee:after {
    content: "";
    border: clamp(2px, 1vw, 6px) dashed #ffcd36;
    position: absolute;
    inset: .5rem;
    z-index: 0;
    border-radius: .75rem;
}
.guarantee {
    border-radius: 13px;
    background-color: #f2f8ff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: .75rem;
}


.tab-content-item {
    min-height: -moz-min-content;
    min-height: min-content;
    background: #fffae6;
    padding: 30px 30px 60px;
    display: none
}

@media screen and (max-width: 768px) {
    .tab-content-item {
        display:none
    }
}

.tab-content-item-mobile {
    background: #fffae6;
    display: none
}

.guarantee {
    border-radius: 13px;
    background-color: #f2f8ff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: .75rem
}

.guarantee:after {
    content: "";
    border: clamp(2px,1vw,6px) dashed #ffcd36;
    position: absolute;
    inset: .5rem;
    z-index: 0;
    border-radius: .75rem
}

.guarantee-top {
    font-size: clamp(32px,10vw,86px);
    line-height: 1
}

.guarantee-middle {
    font-size: clamp(25px,7vw,50px)
}

.guarantee-top img {
    margin-top: -100px
}

@media (min-width: 768px) {
    .guarantee-top {
        font-size:clamp(70px,9.5vw,112px);
        line-height: 1
    }

    .guarantee-middle {
        font-size: clamp(30px,6vw,70px)
    }
}
